{% extends "network/layout.html" %}

{% block body %}
{% if posts %}
<div class="all_posts">
    {% for post in posts%}
        <div class="post">

            <a class="post_info" href="{% url 'profile' post.user %}">{{post.user}}</a>
            <div style="margin-bottom: 5px;">{{post.post}}</div>
            <p class="timestamp">{{post.timestamp}}</p>
            <i class="fa-solid fa-heart"></i>
            <b class="like_count">{{post.likes}}</b>
        </div>
        {% endfor %}
</div>
    <div class="pagination">
        {% if posts.has_previous %}
            <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
        {% endif %}
    
        <div class="page-item disabled" >
            <div class="page-link">Page-{{ posts.number }} of {{posts.paginator.num_pages}}</div>
        </div>
            
        {% if posts.has_next %}
            <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>


{% else %}
<div class="error"><h5>{{error}}</h5></div>
{% endif %}



{% endblock %}